body {
  text-align: center;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/101/174/original/background.png?1697620367");
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  font-family: "Cabin", sans-serif;
  font-size: 60px;
  font-weight: 600px;
  margin: 10px 20px 20px;
}
select {
  background-color: rgba(228, 229, 229, 0.8);
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border-color: #2f4c79;
  font-size: 18px;
  margin: 0 auto;
}

h2 {
  margin: 0 0 3px;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: rgba(228, 229, 229, 0.8);
  border-radius: 5px;
  box-shadow: rgb(47, 76, 121) 0px 0px 0px 3px,
    rgb(215, 171, 97) 0px 0px 0px 6px, rgb(224, 98, 54) 0px 0px 0px 9px,
    rgb(200, 35, 55) 0px 0px 0px 12px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 4px solid #2f4c79;
}

.city:last-child {
  border: none;
}

.date {
  font-family: "Crimson Pro", serif;
  font-size: 18px;
  text-align: left;
  opacity: 0.6;
}

.time {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bolder;
}

.time small {
  font-size: 25px;
  vertical-align: middle;
}

footer {
  color: rgba(228, 229, 229, 0.6);
  margin: 15px;
  font-size: 15px;
}

strong,
a {
  color: rgb(215, 171, 97);
  opacity: 0.8;
  text-decoration: none;
}
